.hero {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%),
      url("../img/hero.png") center no-repeat;
    color: #ffffff;
    height: 100%;
  }
  .hero__text {
    padding: 30% 0 10% 4%;
    width: 95%;
  }
  .hero__heading {
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 2%;
  }
  .hero__paragraph {
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 4%;
  }
  .hero__button {
    background-color: #2a7ae4;
    color: #ffffff;
    border: none;
  }