@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "raleway", sans-serif;
}

button {
  font-size: 0.8em;
  font-weight: 600;
  height: 40px;
  width: 40%;
  padding: 12px 16px;
}




/* products

products__heading
products__button
products__cards
products__cards__card
product__image
product__name
product__price
product__link

footer
footer__div__logo
footer__logo
footer__div__links
footer__link

footer__form
footer__form__heading
footer__form__name
footer__form__textarea
footer__form__button

footer__copyright  */
